<div class="container">
    <ng-container *ngFor="let component of componentList">
        <ng-container *ngIf="component.type === 'empty'">
            <ng-container *ngTemplateOutlet="dropArea; context: {component: component}"></ng-container>
        </ng-container>
        <div class="component" *ngIf="component.type !== 'empty'">
            <app-feature fname="{{component.type}}"></app-feature>
        </div>
    </ng-container>
    <div>{{ showJson(componentList) }}</div>
</div>

<ng-template #dropArea let-componentInfo="component">
    <div class="drop-area" appDrop (dropEvent)="getDropEvent($event)" [dropData]="componentInfo">
        <p>拖放到此处</p>
    </div>
</ng-template>